In [1]:
library(jsonlite)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
daily_deals_df <- jsonlite::fromJSON('[{ "date": "2017-01-06",
    "featuerdDealId": 2551,
    "topSellingDealIds": [2954, 2880],
    "newDealIds": [2819, 2794, 2982, 2944, 2784, 2798, 
2946, 2412, 2953, 2563, 2575, 2534, 2544, 2546, 2573, 2589, 2550, 2630, 2625, 2623, 2733, 2711, 2771, 2721, 2753, 2756,
2754, 2706, 2753, 2746, 2757, 2704, 2785, 2881, 2809, 2809, 2820, 2821, 2899, 2801, 2848,
2834, 2835, 2811, 2868, 2876, 2851, 2859]
}]')

In [3]:
daily_deals_df  %>% select(topSellingDealIds)

  topSellingDealIds
1 2954, 2880

In [4]:
daily_deals_df

  date       featuerdDealId topSellingDealIds
1 2017-01-06 2551           2954, 2880
  newDealIds
1 2819, 2794, 2982, 2944, 2784, 2798, 2946, 2412, 2953, 2563, 2575, 2534, 2544, 2546, 2573, 2589, 2550, 2630, 2625, 2623, 2733, 2711, 2771, 2721, 2753, 2756, 2754, 2706, 2753, 2746, 2757, 2704, 2785, 2881, 2809, 2809, 2820, 2821, 2899, 2801, 2848, 2834, 2835, 2811, 2868, 2876, 2851, 2859

In [5]:
c(1,2)

[1] 1 2

In [6]:
daily_deals_df %>% tidyr::separate(topSellingDealIds, into=c('top_selling_deal1','top_selling_deal2', 'dff'))

Warning message:
“Too many values at 1 locations: 1”

  date       featuerdDealId top_selling_deal1 top_selling_deal2 dff
1 2017-01-06 2551           c                 2954              2880
  newDealIds
1 2819, 2794, 2982, 2944, 2784, 2798, 2946, 2412, 2953, 2563, 2575, 2534, 2544, 2546, 2573, 2589, 2550, 2630, 2625, 2623, 2733, 2711, 2771, 2721, 2753, 2756, 2754, 2706, 2753, 2746, 2757, 2704, 2785, 2881, 2809, 2809, 2820, 2821, 2899, 2801, 2848, 2834, 2835, 2811, 2868, 2876, 2851, 2859

In [7]:
typeof(daily_deals_df$topSellingDealIds[1])

[1] "list"

In [8]:
unlist(daily_deals_df) %>% 
t() %>% 
as.data.frame()

  date       featuerdDealId topSellingDealIds1 topSellingDealIds2 newDealIds1
1 2017-01-06 2551           2954               2880               2819
  newDealIds2 newDealIds3 newDealIds4 newDealIds5 newDealIds6 ⋯ newDealIds39
1 2794        2982        2944        2784        2798        ⋯ 2899
  newDealIds40 newDealIds41 newDealIds42 newDealIds43 newDealIds44 newDealIds45
1 2801         2848         2834         2835         2811         2868
  newDealIds46 newDealIds47 newDealIds48
1 2876         2851         2859

In [9]:
# this <- 
as.data.frame(unlist(daily_deals_df)%>% t()) %>%
reshape2::melt(id.vars='date')
# %>% mutate(position_index = stringr::str_extract(variable,'[0-9]+'))
# colnames(this) <- c('date', 'section', 'dealid', 'position_index')

Warning message:
“attributes are not identical across measure variables; they will be dropped”

   date       variable           value
1  2017-01-06 featuerdDealId     2551
2  2017-01-06 topSellingDealIds1 2954
3  2017-01-06 topSellingDealIds2 2880
4  2017-01-06 newDealIds1        2819
5  2017-01-06 newDealIds2        2794
6  2017-01-06 newDealIds3        2982
7  2017-01-06 newDealIds4        2944
8  2017-01-06 newDealIds5        2784
9  2017-01-06 newDealIds6        2798
10 2017-01-06 newDealIds7        2946
11 2017-01-06 newDealIds8        2412
12 2017-01-06 newDealIds9        2953
13 2017-01-06 newDealIds10       2563
14 2017-01-06 newDealIds11       2575
15 2017-01-06 newDealIds12       2534
16 2017-01-06 newDealIds13       2544
17 2017-01-06 newDealIds14       2546
18 2017-01-06 newDealIds15       2573
19 2017-01-06 newDealIds16       2589
20 2017-01-06 newDealIds17       2550
21 2017-01-06 newDealIds18       2630
22 2017-01-06 newDealIds19       2625
23 2017-01-06 newDealIds20       2623
24 2017-01-06 newDealIds21       2733
25 2017-01-06 newDealIds22       2711
26 2017-01-06 newDealIds23       2771
27 2017-01-06 newDealIds24       2721
28 2017-01-06 newDealIds25       2753
29 2017-01-06 newDealIds26       2756
30 2017-01-06 newDealIds27       2754
31 2017-01-06 newDealIds28       2706
32 2017-01-06 newDealIds29       2753
33 2017-01-06 newDealIds30       2746
34 2017-01-06 newDealIds31       2757
35 2017-01-06 newDealIds32       2704
36 2017-01-06 newDealIds33       2785
37 2017-01-06 newDealIds34       2881
38 2017-01-06 newDealIds35       2809
39 2017-01-06 newDealIds36       2809
40 2017-01-06 newDealIds37       2820
41 2017-01-06 newDealIds38       2821
42 2017-01-06 newDealIds39       2899
43 2017-01-06 newDealIds40       2801
44 2017-01-06 newDealIds41       2848
45 2017-01-06 newDealIds42       2834
46 2017-01-06 newDealIds43       2835
47 2017-01-06 newDealIds44       2811
48 2017-01-06 newDealIds45       2868
49 2017-01-06 newDealIds46       2876
50 2017-01-06 newDealIds47       2851
51 2017-01-06 newDealIds48       2859

In [10]:
this <- 
as.data.frame(unlist(daily_deals_df)%>% t()) %>%
reshape2::melt(id.vars='date') %>% mutate(position_index = stringr::str_extract(variable,'[0-9]+'))
colnames(this) <- c('date', 'section', 'dealid', 'position_index')

Warning message:
“attributes are not identical across measure variables; they will be dropped”

In [11]:
this

   date       section            dealid position_index
1  2017-01-06 featuerdDealId     2551   NA
2  2017-01-06 topSellingDealIds1 2954   1
3  2017-01-06 topSellingDealIds2 2880   2
4  2017-01-06 newDealIds1        2819   1
5  2017-01-06 newDealIds2        2794   2
6  2017-01-06 newDealIds3        2982   3
7  2017-01-06 newDealIds4        2944   4
8  2017-01-06 newDealIds5        2784   5
9  2017-01-06 newDealIds6        2798   6
10 2017-01-06 newDealIds7        2946   7
11 2017-01-06 newDealIds8        2412   8
12 2017-01-06 newDealIds9        2953   9
13 2017-01-06 newDealIds10       2563   10
14 2017-01-06 newDealIds11       2575   11
15 2017-01-06 newDealIds12       2534   12
16 2017-01-06 newDealIds13       2544   13
17 2017-01-06 newDealIds14       2546   14
18 2017-01-06 newDealIds15       2573   15
19 2017-01-06 newDealIds16       2589   16
20 2017-01-06 newDealIds17       2550   17
21 2017-01-06 newDealIds18       2630   18
22 2017-01-06 newDealIds19       2625   19
23 2017-01-06 newDealIds20       2623   20
24 2017-01-06 newDealIds21       2733   21
25 2017-01-06 newDealIds22       2711   22
26 2017-01-06 newDealIds23       2771   23
27 2017-01-06 newDealIds24       2721   24
28 2017-01-06 newDealIds25       2753   25
29 2017-01-06 newDealIds26       2756   26
30 2017-01-06 newDealIds27       2754   27
31 2017-01-06 newDealIds28       2706   28
32 2017-01-06 newDealIds29       2753   29
33 2017-01-06 newDealIds30       2746   30
34 2017-01-06 newDealIds31       2757   31
35 2017-01-06 newDealIds32       2704   32
36 2017-01-06 newDealIds33       2785   33
37 2017-01-06 newDealIds34       2881   34
38 2017-01-06 newDealIds35       2809   35
39 2017-01-06 newDealIds36       2809   36
40 2017-01-06 newDealIds37       2820   37
41 2017-01-06 newDealIds38       2821   38
42 2017-01-06 newDealIds39       2899   39
43 2017-01-06 newDealIds40       2801   40
44 2017-01-06 newDealIds41       2848   41
45 2017-01-06 newDealIds42       2834   42
46 2017-01-06 newDealIds43       2835   43
47 2017-01-06 newDealIds44       2811   44
48 2017-01-06 newDealIds45       2868   45
49 2017-01-06 newDealIds46       2876   46
50 2017-01-06 newDealIds47       2851   47
51 2017-01-06 newDealIds48       2859   48

In [30]:
toJSON(this)

[{"date":"2017-01-06","section":"featuerdDealId","dealid":"255851"},{"date":"2017-01-06","section":"topSellingDealIds1","dealid":"298954","position_index":"1"},{"date":"2017-01-06","section":"topSellingDealIds2","dealid":"289980","position_index":"2"},{"date":"2017-01-06","section":"newDealIds1","dealid":"288319","position_index":"1"},{"date":"2017-01-06","section":"newDealIds2","dealid":"278094","position_index":"2"},{"date":"2017-01-06","section":"newDealIds3","dealid":"294982","position_index":"3"},{"date":"2017-01-06","section":"newDealIds4","dealid":"292744","position_index":"4"},{"date":"2017-01-06","section":"newDealIds5","dealid":"270984","position_index":"5"},{"date":"2017-01-06","section":"newDealIds6","dealid":"270998","position_index":"6"},{"date":"2017-01-06","section":"newDealIds7","dealid":"295446","position_index":"7"},{"date":"2017-01-06","section":"newDealIds8","dealid":"244712","position_index":"8"},{"date":"2017-01-06","section":"newDealIds9","dealid":"295453","position_index":"9"},{"date":"2017-01-06","section":"newDealIds10","dealid":"255863","position_index":"10"},{"date":"2017-01-06","section":"newDealIds11","dealid":"255875","position_index":"11"},{"date":"2017-01-06","section":"newDealIds12","dealid":"256034","position_index":"12"},{"date":"2017-01-06","section":"newDealIds13","dealid":"256044","position_index":"13"},{"date":"2017-01-06","section":"newDealIds14","dealid":"256046","position_index":"14"},{"date":"2017-01-06","section":"newDealIds15","dealid":"256273","position_index":"15"},{"date":"2017-01-06","section":"newDealIds16","dealid":"257689","position_index":"16"},{"date":"2017-01-06","section":"newDealIds17","dealid":"257850","position_index":"17"},{"date":"2017-01-06","section":"newDealIds18","dealid":"266630","position_index":"18"},{"date":"2017-01-06","section":"newDealIds19","dealid":"267425","position_index":"19"},{"date":"2017-01-06","section":"newDealIds20","dealid":"268023","position_index":"20"},{"date":"2017-01-06","section":"newDealIds21","dealid":"270333","position_index":"21"},{"date":"2017-01-06","section":"newDealIds22","dealid":"273111","position_index":"22"},{"date":"2017-01-06","section":"newDealIds23","dealid":"273271","position_index":"23"},{"date":"2017-01-06","section":"newDealIds24","dealid":"274021","position_index":"24"},{"date":"2017-01-06","section":"newDealIds25","dealid":"275153","position_index":"25"},{"date":"2017-01-06","section":"newDealIds26","dealid":"275156","position_index":"26"},{"date":"2017-01-06","section":"newDealIds27","dealid":"275554","position_index":"27"},{"date":"2017-01-06","section":"newDealIds28","dealid":"276506","position_index":"28"},{"date":"2017-01-06","section":"newDealIds29","dealid":"276753","position_index":"29"},{"date":"2017-01-06","section":"newDealIds30","dealid":"277946","position_index":"30"},{"date":"2017-01-06","section":"newDealIds31","dealid":"277957","position_index":"31"},{"date":"2017-01-06","section":"newDealIds32","dealid":"278004","position_index":"32"},{"date":"2017-01-06","section":"newDealIds33","dealid":"278085","position_index":"33"},{"date":"2017-01-06","section":"newDealIds34","dealid":"280281","position_index":"34"},{"date":"2017-01-06","section":"newDealIds35","dealid":"283009","position_index":"35"},{"date":"2017-01-06","section":"newDealIds36","dealid":"283309","position_index":"36"},{"date":"2017-01-06","section":"newDealIds37","dealid":"283620","position_index":"37"},{"date":"2017-01-06","section":"newDealIds38","dealid":"283621","position_index":"38"},{"date":"2017-01-06","section":"newDealIds39","dealid":"284299","position_index":"39"},{"date":"2017-01-06","section":"newDealIds40","dealid":"285101","position_index":"40"},{"date":"2017-01-06","section":"newDealIds41","dealid":"285448","position_index":"41"},{"date":"2017-01-06","section":"newDealIds42","dealid":"286934","position_index":"42"},{"date":"2017-01-06","section":"newDealIds43","dealid":"287235","position_index":"43"},{"date":"2017-01-06","section":"newDealIds44","dealid":"287411","position_index":"44"},{"date":"2017-01-06","section":"newDealIds45","dealid":"287568","position_index":"45"},{"date":"2017-01-06","section":"newDealIds46","dealid":"287576","position_index":"46"},{"date":"2017-01-06","section":"newDealIds47","dealid":"287951","position_index":"47"},{"date":"2017-01-06","section":"newDealIds48","dealid":"287959","position_index":"48"}]