In [ ]:
df %>%
mutate_all(function(x){ifelse(is.na(x), 0, x)})

In [ ]:
df %>%
# head() %>%
mutate(
ones1 = sqrt(twos ) + threes ^ fours,
    nines2= ones1   * log(ones1),
    ones_prime1 = sqrt(twos +4) + threes ^ fours*2,
    nines_prime2= ones1  * log(ones1)
) %>%
dplyr::select(-contains('1')) %>%
filter(firstname %in% c('Tom', 'Sally', 'Henry'))